altair
attrs
basedosdados
blinker
branca
cachetools
certifi
charset-normalizer
click
contourpy
cycler
db-dtypes
decorator
folium
fonttools
gcloud
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
httplib2
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
oauth2client
oauthlib
packaging
pandas
pandas-gbq
Pillow
plotly
proto-plus
protobuf
pyaml
pyarrow
pyasn1
pyasn1-modules
pydata-google-auth
pydeck
Pygments
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
ruamel.yaml
six
smmap
SQLAlchemy
streamlit
tenacity
toml
tomlkit
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
